 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } 
  
  table, td {
  border-style:solid;
  }
  
  .articles_table {
      display:none;
  }
  
  .dn {
      display:none;
  }
  
  .user_name {
  margin-left: 3em;
  }
  
  .section_name {
      font-weight: bold;
      font-size: large;
  }
  
  .from, .subscribed {
      font-style: italic;
  }
  
  .column_index {
    width:2%;
  }
  
  .column_article_id {
    width:8%;
  }
  
  .column_article_votes{
    width:10%;
  }
  
  .column_title {
    width:35%;
  }
  
  .column_article_last_update {
    width:10%;
  }
  
  .column_article_checkbox {
    width:25%;
  }
  
  
  .column_labels {
    width:10%;
  }
  
  th {
    font-weight: bold;
  }
  